<!DOCTYPE html>
<html>
    <head>
        <title>Disney Movie: <%= name %></title>
    </head>
    <body>
        <h1>Disney Movie: <%= name %></h1>
        <p>
            <img src="<%= image %>">
            <strong><%= name %></strong>
            (<%= year %>)
            [Rating: <%= imdbRating %> ★]
        </p>
    </body>
</html>